
.login-container{
    padding: 50px 0;
    background-color: #FFFEF9;
}
.login-banner img{
    width: 100%;
}
.form-label{
    text-align: left;
}
.login-path{
    text-align: center;
}
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
  }
.login-text{
    color: #181D31;
    font-weight: bold;
}
.sign-btn {
    /* background-color: #3578e7; */
    background-color: #009C86;
    color: white;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border: none;
    max-width: 300px;
    width: 100%;
    margin: 20px auto;
    padding: 1px;
  }
.sign-text{
  margin: auto;
}
.g-logo-holder {
  background-color: white;
  padding: 5px;
}
.g-logo-holder img {
  width: 30px;
}