
.product-card{
    border: 1px solid gray;
    height: 520px;
    width: 310px;
    margin: 10px;
    transition: 0.5s;
    border-radius: 10px;
    background-color: #279685;
}
.product-card:hover{
    box-shadow: 8px 8px 9px lightgray;
}
.product-info{
  color: #082032;
}
.product-img{
    border-radius: 2px;
}
.product-img img{
    width: 100%;
    width: 25vh;
}
.part-one{
    background-color: white;
    width: 100%;
}
.part-two{
    border: 1px solid gray;
    margin-top: 5px;
}
