.product-card{
    height: 470px;
    width: 310px;
    margin: 10px;
    transition: 0.5s;
    border-radius: 10px;
    background-color: #009E83;
    box-shadow: 5px 8px 5px #2A454E;
    
}
.product-info{
    color: #f0f0f0;
    text-align: center;
}
.product-img{
    text-align: center;
    border-radius: 2px; 
}
.product-img img{
    width: 200px;
    height: 30vh;
}
.part-one{
    background-color: white;
    width: 100%;
}
.product-price{
   font-weight: bold;
   color: #f0f0f0;
}
.purchase-btn{
    color: #f0f0f0;
    background-color: #1A2E35;
    /* background-color: #2A454E; */
}
.purchase-btn:hover{
    color: goldenrod;
}