.footer-container{
    padding: 50px 0;
    background-color: #1A2E35;
}
.footer-logo img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.footer-title{
    color:  #01B8BE;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.subs-btn{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #009E83;
}
.book-btn:hover{
    color: #fff;
    background-color: #262339;
}
.footer-menu{
    padding: 50px 0; 
}
.footer-menu h4{
    color: #f0f0f0;
    padding-bottom: 5px;
    text-align: left;
}
ul{
    text-align: left;
}
 ul li{
    list-style: none;
    margin-bottom: 10px;
}
 ul li a{
    text-decoration: none;
}
.menu{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.menu:hover{
    color: darkgray;
}
.footer-details{
    text-align: left;
}
.footer-details p{
    text-align: left;
}
.contact-info{
    text-align: left;
}
/*icon style*/
.icons-container{
    width: 200px;
    padding: 3px;
    border-radius: 10px;
}
.icon{
    margin: 5px;
    padding: 0px 8px;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(70, 66, 66);
    
}
.icon:hover{
    color: #339AF0;
    /* color: rgb(58, 87, 148); */
}
.download-btn{
    width: 100px;
}
.download-btn img {
  display: block;
  cursor: pointer;
}
.download-btn img:last-child {
  margin-top: 20px;
}
.footer-input{
    border: none;
    padding: 10px;
    width: 75%;
    border-bottom: 2px solid gray;
    margin-top: 10px;
    outline: none;
    transition: 1s;
}
