.banner-container{
    background-color: #082032;
    height: 500px;
}
.banner-info{
    text-align: left;
    color: aliceblue;
}

/* .banner-img{
    background-color: aliceblue;
} */
.banner-img img{
    width: 100%;
    height: 100%;  
}