.products-container{
    padding: 50px 0;
    background-color: #FFFEF9;
}
.spinner{
    text-align: center;
}
.products-title{
    color: #1A2E35;
    display: inline-block;
}
.products-title::after{
    content: '';
    margin: 0 auto;
   width: 50%; 
   height: 3px;
   display: block;
   background-color: blue;
}